include LICENSE
include README.md
recursive-include {{ SAFE_NAME }}/static *
recursive-include {{ SAFE_NAME }}/templates *
recursive-include {{ SAFE_NAME }}/templatetags *
recursive-include {{ SAFE_NAME }}/management *
recursive-include {{ SAFE_NAME }}/fixtures *
recursive-include {{ SAFE_NAME }}/resources *
global-exclude *pyc
global-exclude ~*
